<head><title>Security Cynic Service</title></head>
<body>
<h1>
	<img src="http://api.adorable.io/avatars/48/{{.User}}.png'" alt="{{.User}}"/>
	<a href="/topics/">Security Cynic</a>
</h1>
{{.User}}

<hr/>

<div>
	<strong>New Topic:</strong><form action="/new/" method="POST"><input type="text" name="topic" cols="80"/><input type="submit" value="Create"/></form>
</div>

<div>
	<strong>Current Topics:</strong>
<ul>
{{if .CurrentTopics}}
{{range $key, $value := .CurrentTopics}}
<li><strong><a href="/view/{{$value.Title}}">{{$value.Title}}</a> ({{$value.Hotness}}% Hot, {{$value.Comments}} Reviews)</strong></li>
{{end}}
{{else}}
	<img src="/images/success.jpg"/><br/>
	All Done!
</p>
{{end}}
</ul>
</div>

<div>
	<strong>Old Topics:</strong>
<ul>
{{if .OldTopics}}
{{range $key, $value := .OldTopics}}
<li><a href="/view/{{$value.Title}}">{{$value.Title}}</a> ({{$value.Hotness}}% Hot, {{$value.Comments}} Reviews)</li>
{{end}}
{{else}}
	<img src="/images/fail.jpg"/><br/>
	If you could just start submitting topics, that'd be great.
{{end}}
</ul>
</div>

<hr/>
</body>
</html>
