<head>
	<title>Security Cynic Service</title>
	<link rel="stylesheet" media="screen" href="/static/style.css">
</head>
<body id="css-zen-garden">
<div class="page-wrapper">
<h1>
	<img src="http://api.adorable.io/avatars/48/{{.User}}.png'" alt="{{.User}}"/>
	<a href="/topics/">Security Cynic</a>
</h1>
{{.User}}

<hr/>

<strong>Your Assessment:</strong>
<form action="/save/{{.Title}}" method="POST">
	<div><textarea name="markdown" rows="10" cols="120">{{printf "%s" .Markdown}}</textarea></div>
	<div>
		<input type="submit" name="assessment" value="Hot"/>
		<input type="submit" name="assessment" value="Shrug"/>
		<input type="submit" name="assessment" value="Not"/>
		<input type="submit" name="next" value="Next"/>
	</div>
	<a href="/forget/{{.Title}}">Forget Assessment</a>
	<input type="hidden" name="mode" value="comment"/>
</form>

<hr/>

<h2>{{.Title}} [<a href="/edit/{{.Title}}">Edit</a>]</h2>
{{.Body}}

<hr/>

<strong>Assessments:</strong>
{{if .Comments}}
<table border="0" width="100%" >
	<col width="70">
{{range $key, $comment := .Comments}}
	<tr>
		<td valign="top"><img src="http://api.adorable.io/avatars/48/{{$comment.User}}.png'" alt="{{$comment.User}}"></td>
		<td valign="top" align="left">
			<img width="120" hspace="10" align="left" src="/static/{{$comment.Reaction}}" alt="{{$comment.Assessment}}"/>
			{{$comment.Body}}
		</td>
	</tr>
{{end}}
</table>
{{else}}
	<p>
	<img src="/static/homies.png" width="300"/><br/>
	</p>
{{end}}

</div>
</body>
</html>
